* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: aqua;
    margin-bottom: 15px;
}

ul {
    display: flex; 
    flex-direction: column;
    list-style-type: none; 
    padding: 0; 
}

li {
    margin-right: 20px;
}
div {
    border: #333 1px solid;
    padding: 15px;
    margin-bottom: 15px;
}